{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LikeLion 10th Blog project</title>
    <link rel="stylesheet" href="{% static 'style.css'%}">
</head>

<body>
    
    <div class="contanier">
        <div class="left-screen"></div>
        <div class="right-screen">
            <h1 class="title">LikeLion 10th Blog project</h1>
            <br />
            <p>전체보기</p>
            <div>
                <span class="text-title">글 제목</span>
                <span style="float: right;">작성일자</span>
            </div>
            <hr/>
            {% for blog in blogs %}
            <div class="blog-title">
                <span class="blog-title-small" >{{blog.title}}</span> 
                <span class="blog-created-small" style="float: right;">{{blog.created_at}}</span>
            </div>
            {% endfor %}
            <a href="{% url 'new' %}" style="text-decoration:none; color:black">새 글 작성하기</a>
        </div>
    </div>
</body>
</html>

